.not-found {
    text-align: center;
    margin-top: 4rem;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: var(--color-texto-primario);
    }

    p {
        margin-bottom: 2rem;
        color: var(--color-texto-secundario);
    }

    .btn {
        display: inline-block;
        background: var(--color-morado-primario);
        color: #fff;
        padding: 0.6rem 1.2rem;
        border-radius: 3px;
        text-decoration: none;

        &:hover {
            background: var(--color-morado-secundario);
        }
    }
}
